GATEWAY_PORT=3000
GRPC_AUTH_PORT=3001
GRPC_PROFILE_PORT=3002

JWT_SECRET="change-me"
DSN_AUTH="host=localhost user=postgres password=postgres dbname=auth port=5432 sslmode=disable TimeZone=Europe/Kyiv"
DSN_PROFILE="host=localhost user=postgres password=postgres dbname=profile port=5432 sslmode=disable TimeZone=Europe/Kyiv"

NATS_URL="nats://localhost:4222"

REDIS_URL="redis://localhost:6379/0"

APP_URL="http://localhost:3000"
VERIFY_EMAIL_TOKEN_TTL=15m

SMTP_URL="smtp-relay.example.com"
SMTP_PORT=587
SMTP_USER="your-smtp-user"
SMTP_PASS="your-smtp-pass"
FROM_MAIL="noreply@example.com"

AUTH_SERVICE_URL="localhost:3001"
PROFILE_SERVICE_URL="localhost:3002"
